*{
    margin: 0;
    padding: 0;
}

/*cabeçallho*/

header{
	height: 4vh;
	text-align: center;
	background-color: #333;
	color: #FFF;
}

header h2{
	font-size: 24px;
	text-decoration: none;
	color: #FFF;
}

/*botoes e parte principal*/

main{
	height: 87vh;
	padding: 20px 0px;
	align-items: center;
	background: gray;
	display: flex;
	flex-direction: column;
}

.linhaDeBotoes{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 10px;
}

.mostrando{
	width: 13%;
	background-color: #3f3f3fd7;
	color: #FFF;
	border: 5px solid #04324c;
}

/*botoes*/

button{
	cursor: pointer;
	color: #fff;
	background-color:#0c8cd3;
	border: 3px solid #04324c;
    display: block;
    clear: both;
	padding: 10px 30px;
    margin: 5px 0px;
	
}

button:hover{
	background-color: #04324c;
}

button:active{
	background-color: #04324c;
	margin-top:0px;
	border: 0;
}

/*footer part*/

footer{
	height: 5vh;
	text-align: center;
	background-color: #333;
	color: #FFF;
	}

.link{
	font-size: 24px;
	text-decoration: none;
	color: #FFF;
}

/*esconder erros*/

.fadeout{
	opacity: 0;
}

.sumiu{
	display: none;
}

#botaoponto{
	background-color: red;
}